<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKeyEnvironmentVariableName" value="DiscordBotApiKey"/>
    <add key="EnvironmentTarget" value="User"/>
    <add key="ImgFlipUsername" value=""/>
    <add key="ImgFlipPassword" value=""/>
    <add key="FitnessDeathBaseUrl" value="https://kristof.servebeer.com/fitnessdeath"/>
  </appSettings>
</configuration>